pydata-sphinx-theme
Sphinx<=7.1.2
sphinx-notfound-page>=0.6
graphviz>=0.16
sphinxcontrib-images
sphinx-icon>=0.2.2
sphinx-btn>=0.1.2
sphinx-design
sphinx-togglebutton
git+https://github.com/sphinx-contrib/youtube.git
sphinx-favicon>=1.0.1
sphinx-intl
sphinxcontrib-email
sphinx-last-updated-by-git
sphinxcontrib-bibtex